.header {
  display: flex;
  margin: 0;
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-left--name {
  font-size: 3rem;
}
nav {
  justify-content: flex-end;
}
.nav {
  justify-content: flex-end;
}
.nav li {
  padding-right: 15px;
}
