.main-articles {
  padding: 0 10px;
}
.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.articles-header input {
  width: 250px;
  height: 40px;
  padding: 0 7px;
  color: #fff;
  font-size: 1.6rem;
  background-color: rgba($color: #fff, $alpha: 0.05);
  border: none;
  border-radius: 10px;
  outline: none;
}
.articles-container {
  margin-top: 30px;
}
@media (min-width:768px) {
  .main-articles {
    padding: 0 50px;
  }
  .articles-header {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .article {
    padding: 10px 5px;
    margin: 0;
  }
  .article img {
    width: 100%;
    height: 290px;
    display: none;
    margin-bottom: 10px;
  }
  .article:first-child, .article:nth-child(2) p {
    text-align: justify;
  }
  .article:first-child img, .article:nth-child(2) img {
    border-radius: 10px;
  }
}
@media (min-width: 1280px) {
  .article-title {
    font-size: 1.8rem;
  }
  .article-content {
    font-size: 1.6rem;
  }
}


