.main-articles {
  padding: 0 10px;
}
.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.articles-header input {
  width: 250px;
  height: 40px;
  padding: 0 7px;
  color: #fff;
  font-size: 1.6rem;
  background-color: rgba($color: #fff, $alpha: 0.05);
  border: none;
  border-radius: 10px;
  outline: none;
}
.articles-container {
  margin-top: 30px;
}
@media (min-width:768px) {
  .main-articles {
    padding: 0 50px;
  }
  .articles-header {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}



