.main-article {
  padding: 0 15px;
}
.article__content {
  margin-top: 30px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.article--title {
  font-size: 3rem;
  letter-spacing: -.025em;
  line-height: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.article__content p, .article__content li {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 300;
  text-align: start;
  margin-top: 10px;
}
.article__content h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  margin: 10px 0;
  font-weight: bold;
  margin-bottom: 10px;
}
.article__content img {
  width: 100%;
  margin-bottom: 20px;
}
.article__content pre {
  max-width: 100%;
  white-space: pre-wrap;
}
pre {
  display: inline-block;
  min-width: 60%;
  padding: 4px;
  font-size: 1.4rem;
  background: $subdued-background;
  border-radius: 5px;
}
code {
  padding: 4px;
  font-weight: 300;
  font-size: 1.4rem;
  background-color: $subdued-background;
  border-radius: 5px;
  color: #a200ff;
}
.article__content pre > code {
  background: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: start;
  margin-bottom: 10px;
  color: #c9c9c9;
}
.article__content a {
  color: #a200ff;
  text-decoration: none;
}
.article__content a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .article__content h2 {
    text-align: start;
  }
}