.main-article {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 0vh;
}
.article__content {
  padding: 0 50px;
  padding-right: 70px;
}
.article__content--content {
  padding-right: 40%;
}
.article__content ul {
  margin-left: 15px;
}
.article-header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.down-arrow-button {
  display: none;
}