.main-biography {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 0vh; 
  margin: 0;
}
.main-biography__content {
  padding: 0 50px;
  padding-right: 70px;
}
.biography-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 30px 0;
}
.my-info {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}
.my-info__content > div{
  margin-bottom: 0px;
}
.my-info__content > div h2 {
  font-weight: 300;
}
.my-info__content h2, .my-info__content p {
  text-align: start;
}
.my-info--presentation {
  margin: 0;
}
.my-info--presentation img {
  height: 70vh;
}
.biography--titles {
  display: none;
}
.biography--titles:nth-child(1) {
  position: static;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.biography--titles:nth-child(1) h1 {
  max-width: 7.3ch;
}
.resume, .stack {
  max-width: 400px;
}
.stack-list {
  list-style-type: square;
}
.stack-list li {
  text-align: start;
  margin-left: 16px;
}