.main-biography {
  padding: 0 15px;
  width: 100%;
  height: auto;
  animation-name: home-entry;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  background-color: black;
}
.main-biography .down-arrow {
  bottom: 20px;
  left: 50%;
}
.my-info {
  position: relative;
}
.my-info img {
  width: 100%;
  height: calc(100vh - 86px);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.my-info--presentation {
  position: relative;
  margin-bottom: 50px;
}
.biography--titles {
  position: absolute;
  bottom: 70px;
  margin-bottom: 20px;
}
.biography--titles:nth-child(1) {
  display: none;
  animation: biography-content-entry3 1s ease-out;
}
.biography--titles h3 {
  position: relative;
  margin-bottom: 5px;
  font-size: 4.4rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  background-clip: border-box;
  background: $ppal-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}
.biography--titles h3::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: $ppal-gradient;
}
.biography--titles p {
  font-size: 2.2rem;
  font-weight: 100;
}
.my-info__content {
  padding-bottom: 10px;
}
.my-info__content > div{
  margin-bottom: 30px;
}
.my-info__content h2 {
  font-size: 2.4rem;
  text-align: center;
}
.my-info__content p {
  text-align: center;
}
.stack {
  animation: biography-content-entry .33s ease-out;
}
.resume {
  animation: biography-content-entry2 .66s ease-out;
}
@keyframes biography-content-entry {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes biography-content-entry2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes biography-content-entry3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}