@import '../components/home-card';

html {
  scroll-behavior: smooth;
}
.main-home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 150vh;
}
.home-left {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: initAnimation 0.3s ease-in-out;
}
.home-left .content {
  width: 100%;
  text-align: center;
}
.home-left .content h1 {
  font-size: 3rem;
  margin-bottom: 5px;
  font-weight: 300;
  white-space: nowrap;
  border-right: 4px solid;
  width: 15.7ch;
  margin: 0 auto;
  animation: typing 2s steps(18), blink infinite step-end alternate;
  overflow: hidden;
}

.home-left .content p {
  margin-bottom: 5px;
  font-size: 2.5rem;
  background: $ppal-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-weight: 400;
}
.home-left .content button {
  background-color: transparent;
  width: 150px;
  height: 45px;
  margin-top: 25px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0px -3px 10px rgba(158, 0, 255, 0.4), 0px 3px 10px rgba(0, 192, 192, 0.4);
  transition: all 0.3s;
}

.home-left .content button a {
  font-size: 1.2rem;
  background: $ppal-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-weight: 700;
}
.home-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 60vh;
}
.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 3.2rem;
  transform: rotate(90deg) translateY(50%);
  color: $subdued-white-text;
  transition: all 0.3s;
}
.up {
  transform: rotate(270deg) translateY(-50%);
}
.down {
  transform: rotate(90deg) translateY(50%);
}
@keyframes initAnimation {
  0% {
    opacity: 0;
    top: -4vh
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes typing {
  from {width: 0;}
  33% {width: 0;}
}
@keyframes blink {
  50% {border-color: transparent;}
}
@media (min-width: 768px) {
  .home-left .content h1 {
    font-size: 4rem;
  }
  .home-left .content p {
    font-size: 2.5rem;
  }
  .home-left .content button {
    width: 150px;
    height: 50px;
  }
  .home-left .content button a {
    font-size: 1.4rem;
    font-weight: 300;
  }
}