$background: #101010;

$ppal-gradient: linear-gradient(90deg, rgba(158,0,255,1) 0%, rgb(0, 192, 192) 80%);

$white-text: #ccc;
$dark-text: #ccc;
$subdued-white-text: rgb(151, 151, 151);
$subdued-dark-text: rgb(60, 60, 60);
$card-text: rgb(208, 208, 208);

$gray: #ccc;